 <!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="shortcut icon" href="images/icons/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="ahrefs-site-verification" content="f757c1b48a6d0f624cf76c2e304557685eed8bec4cc66d227f7726679f3f187c">
        <title>About Us</title>
        <meta name="keywords" content="grand sultan photos, resort sylhet" />
        <meta name="description" content="Find out all photos of Rooms & Suites, Restaurants, Meetings and Events, Relaxation, and Recreation at Grand Sultan Tea Resort and Golf, Sylhet." />

        <!-- Facebook Share -->
        <meta property="fb:app_id" content="1471560829582269" />
        <meta property="og:url" rel="canonical" content="index.html" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Grand Sultan Tea Resort & Golf - Only 5 star resort in Sylhet region of Bangladesh" />
        <meta property="og:description" content="Grand Sultan is one of most prestigious resorts in Bangladesh. Only 4 hours drive from Dhaka city and surrounded by lavish greenery and tea gardens of Sreemongal, it is equipped with five star standard amenities and facilities to ensure luxury, comfort, and gracious hospitality." />
        <meta property="og:image" content="images/gs_front_fb.jpg" />
        <meta property="og:image:alt" content="" />

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>

        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900,900i' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Great+Vibes&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/offers-details.css"/>
        <!-- <link rel="stylesheet" type="text/css" href="./css/gsv2-style.css"/> -->
        <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">

        <link rel="stylesheet" type="text/css" href="css/owl-carousel-2/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="css/owl-carousel-2/owl.theme.default.min.css">

        <link rel="stylesheet" type="text/css" href="css/rs-plugin-settings.css" media="screen" />
        <link rel="stylesheet" href="css/datepicker/jquery.datetimepicker.css"/>
        <link rel="stylesheet" href="css/style-responsive.css"/>

        <link rel="stylesheet" type="text/css" href="css/google-places.css">
        <link rel="stylesheet" type="text/css" href="css/notifbar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.js"></script> -->
        <script type="text/javascript" src="js/jquery.js"></script>

        <!-- Facebook Pixel Code -->
            <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            '../connect.facebook.net/en_US/fbevents.js');
            fbq('init', '488297155276051'); 
            fbq('track', 'PageView');
            </script>
            <noscript>
            <img height="1" width="1" 
            src="https://www.facebook.com/tr?id=488297155276051&amp;ev=PageView%20%20%20%20%20%20%20%20%20%20%20%20&amp;noscript=1"/>
            </noscript>
        <!-- End Facebook Pixel Code -->        
    </head>
<style type="text/css">
    .home-landing-about-us {
    position: relative;
    display: block;
    margin: 0;
    overflow: hidden;
     /*height: 1vh !important; */
    /* min-height: 500px; */
    width: 94%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
</style>
    <body>
  
        <!-- <style type="text/css"> #cookie-bar {position: absolute; display: inline-block; z-index: 999999; bottom: 0; width: 100%;} .cookie-bar__inner { padding: 5px 10px 5px; box-sizing: border-box; width: 100%; background-color: #000000e3; text-align: center; color: #ddd; font-size: 15px; line-height: 25px;letter-spacing: 0.2px;} .cookie-bar__btn {background: #ffffff; color: #000000; border: 0; padding: 0px 15px; margin: 4px 15px; border-radius: 3px; font-size: 14px;} a.cookie-bar__link {color: #e8c037;} a:hover.cookie-bar__link {color: #fff; text-decoration: underline;} </style> -->
        <style type="text/css"> 
            #cookie-bar {position: absolute; display: inline-block; z-index: 99999999999; bottom: 0; width: 100%;} 
            .cookie-bar__inner { padding: 15px 50px 15px; box-sizing: border-box; width: 100%; background-color: #000000f0; text-align: left; color: #ddd; font-size: 16px; line-height: 23px; letter-spacing: 0.2px; }
            .cookie-bar__buttons { position: absolute; top: 21%; left: 45%; }
            .cookie-bar__btn { background: #ffffff; color: #000000; border: 0; padding: 5px 15px; margin: 4px 15px; border-radius: 3px; font-size: 14px; }
            a.cookie-bar__link {color: #e8c037;} 
            a:hover.cookie-bar__link {color: #fff; text-decoration: underline;} 
            @media  screen and (max-width: 1366px) {
                .cookie-bar__inner {font-size: 14px;padding: 18px 50px 18px;line-height: 21px;}
                .cookie-bar__buttons {top: 25%; left: 55%;}
            }
            @media  screen and (max-width: 1366px) and (orientation: portrait){
                .cookie-bar__inner {font-size: 12px;padding: 14px 15px 14px;line-height: 22px;}
                .cookie-bar__buttons {top: 25%; left: unset; right: 10%;}              
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                .cookie-bar__buttons {top: 25%; left: unset; right: 10%;}              
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                .cookie-bar__inner {font-size: 13px; padding: 18px 25px 18px; line-height: 20px;}
                .cookie-bar__buttons {top: 25%; left: unset; right: 1%;}              
            }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                .cookie-bar__inner {font-size: 12px; padding: 15px 15px 45px; line-height: 20px;}
                .cookie-bar__buttons {top: 68%;left: 0;right: unset;}
                .cookie-bar__btn {padding: 2px 13px;}
            }
        </style>
        <div id="perspective">
            <div id="container">
        
                  <div id="top">
                    <ul>
                        <li>
                            <a id="showMenu">
                                <div id="menu_controller" class="has_transition_300">
                                <hr class="_1">
                                <hr class="_2">
                                <hr class="_3">
                            </div>
                              <!-- <i class="fa fa-bars" style="color: #fff"></i> -->
                               Menu
                            </a>

                        </li>
                      <!--   <li>
                            <a id="showBook">Reservation</a>
                        </li> -->
                    </ul>
                    <a href="index.html"></a>
                    <ul class="contact-ul">

                           <li>
                          <a href="https://www.google.com/maps/dir/23.6869357,90.4268467/HANSA+-+A+Premium+Residence+HANSA+-+A+Premium+Residence,+PLOT%23+3+%26+5,+ROAD%23+10%2FA+SECTOR%23+9,+%E0%A6%A2%E0%A6%BE%E0%A6%95%E0%A6%BE+1230/@23.783649,90.2770226,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3755c438fb7814bb:0x4badb30ca9c36544!2m2!1d90.4002931!2d23.8791894" target="blank" style="cursor: pointer;"><i class="fa fa-map-marker" ></i>
                          Getting There</a>
                        </li>

                        <li>
                          <a href="tel:+8809678785959"> 
                              <i class="fa fa-phone"></i>  +880255080501-12
                            </a>
                        </li>
                        </ul>
                </div>

                <div id="wrapper">
                        <div id="menu_upper">

                        <ul class="contact-ul">
            <li> 
             <!--  <img class="" src="images/close.png"/> -->
              <p><img class="blinkz" src="images/logo.png" alt="HANSA &#8211; A Premium Residence &#8211; 4 Star Premium Hotels in Dhaka" height="80" /><a href="index.html" target="_blank"></a></p>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
                               <li>
                          <a href="https://www.google.com/maps/dir/23.6869357,90.4268467/HANSA+-+A+Premium+Residence+HANSA+-+A+Premium+Residence,+PLOT%23+3+%26+5,+ROAD%23+10%2FA+SECTOR%23+9,+%E0%A6%A2%E0%A6%BE%E0%A6%95%E0%A6%BE+1230/@23.783649,90.2770226,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3755c438fb7814bb:0x4badb30ca9c36544!2m2!1d90.4002931!2d23.8791894" target="blank" style="cursor: pointer;"><i class="fa fa-map-marker" ></i>
                          Getting There</a>
                        </li>

                        <li>
                          <a href="tel:+8809678785959"> 
                              <i class="fa fa-phone"></i>  +880255080501-12
                            </a>
                        </li>
                        </ul>
                    </div>
                                       
                                        <div class="quick_socials mobile_hidden">
                        <ul>
                            <li class="has_transition_600"><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="has_transition_600"><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
                   
                            <li class="has_transition_600"><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                          
                            <li class="has_transition_600"><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                                   <div class="home-landing-about-us"></div>
                        <div class="container offer-container">
                  
                      
        
                      <div class="row">
         <div class="col-md-12">
            <div id="services-carousel" class="facilities-carousel fadeOut owl-carousel owl-theme">
               <div class="item">
                  <img src="images/facilities/Executive-Deluxe.jpg" alt="rooms suites at Hansa Hotel">
                  <div class="services-carousel-container">
                 
                     <h3 class="glance-item-name">About Us</h3>
                        <p class="detail" style="text-align: justify;">
HANSA – A Premium Residence is owned by Unique Hotel & Resorts Limited, the leading Hospitality Management Company and the owner of “The Westin, Dhaka” with more than 20 years of experience in the hospitality industry. HANSA is the first premium residence in Bangladesh providing all services at par with any other international hotels of the country. The residence has 76 contemporary Rooms including 12 Suites, 2 World Class Restaurants, Gymnasium, Spa, Rooftop Swimming Pool and many other best-in-class amenities.


</p>
                     <a href="rooms-and-suites.html" class="find has_transition_400">Find More</a>
                  </div>
                  <!-- END .services-carousel-container -->
               </div>
     
     
       
              
            </div>
            <!-- END #services-carousel -->
            <!-- Carousel -->
            <script>
               $(document).ready(function() {
                 var owlk = $("#services-carousel");
                 owlk.owlCarousel({
                   nav:true,
                   items: 1,
                   dots: false,
                   navContainer: '.services-carousel-container .customNavigation',
                   navText: [$('.prev'),$('.next')],
                   animateOut: 'fadeOut',
                   loop: true,
                   autoplay:false,
                   margin: 10

                 });
               });
            </script>
            <!-- End Carousel -->
         </div>
         <!-- END .col -->
      </div>
                </div>

                <script type="text/javascript">
                    $('#select_element').change(function(){
                        if($(this).val() == 'all'){
                            $('.photo-gallery-container ul.photo-gallery li').fadeIn(2000);
                            $('.photo-gallery-container ul.photo-gallery li').css('display', 'inline-block');
                        }else{
                            $('.photo-gallery-container ul.photo-gallery li').fadeOut();
                            $('.photo-gallery-container ul.photo-gallery li.'+$(this).val()).css('display', 'inline-block');
                            $('.photo-gallery-container ul.photo-gallery li.'+$(this).val()).fadeIn(2000);
                        }
                        
                    });
                </script>
    
<div id="guest_ambasadors">
  <div class="container">
    <h3>Guest Our Ambassadors</h3>
  </div>
</div>

<hr>
<div>
  <div class="container">
   <div class="tripadvisor_reviews">
      <img src="images/tripadvisory.jpg">
    
    <div class="read_all_reviews">
      <a href="https://www.tripadvisor.com/Hotel_Review-g3350980-d13971044-Reviews-Hansa_A_Premium_Residence-Uttara_Dhaka_Division.html" target="blank"><img src="images/read-all-reveiws.png" style="text-align: center; cursor: pointer;"></a>
    </div>
  
     
   </div>

  </div>
</div>
                        <div id="pre-footer">
                            <div class="container">
                                <div class="row">
                                  
                                    <div class="col-md-4 contact-holder">
                                
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="contact-content">

                                                    <h3>Contact Info</h3>
                                                    <ul class="contact-ul">
                                                       
                                                       <li><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;House # 3 & 5, Road # 10/A , Sector # 09, Uttara Model Town 1230 Dhaka, Dhaka Division, Bangladesh</li><br>
                                                      <li><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;Tel: +880255080501-12</li><br>
                                                      <li><i class="fa fa-fax" aria-hidden="true"></i>&nbsp;&nbsp;Fax: +88 02 8932835</li><br>
                                                      <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Email: info@hansa.com.bd</li>
                                                       
                                                       <li id="li-2">
                                                 
                                                         <!--+88 02 9820727, 9852585-->
                                                       </li><li id="li-3">
                                                 
                                                    </ul>
                                                </div>
                                            
                                            </div>
                                     
                                        </div>
                                  
                                    </div>
                            <div class="col-md-5">
                                      <br>
                                      <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d3648.366522112858!2d90.40115722624209!3d23.876618438847604!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d23.869835!2d90.40310319999999!4m5!1s0x3755c438fb7814bb%3A0x4badb30ca9c36544!2shansa%20a%20premium%20residence!3m2!1d23.879189399999998!2d90.4002931!5e0!3m2!1sen!2sbd!4v1662530502608!5m2!1sen!2sbd" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                    </div>
                                    <div class="col-md-3">
                                      <h3 style="width: 100%">Quick Links</h3>
                                     <ul>
                                       <li><i class="fas fa-angle-double-right"></i>&nbsp;Dining</li>
                                       <li><i class="fas fa-angle-double-right"></i>&nbsp;Facilities</li>
                                       <li><i class="fas fa-angle-double-right"></i>&nbsp;Privilege Members</li>
                                       <li><i class="fas fa-angle-double-right"></i>&nbsp;Offers</li>
                                       <li><i class="fas fa-angle-double-right"></i>&nbsp;Events</li>
                                       <li><i class="fas fa-angle-double-right"></i>&nbsp;Contact</li>
                                     </ul>
                                    </div>
                                 
                                </div>
                                 <br>
                
                            </div>
                        </div><!-- END #pre-footer -->
<div class="footer_bottom" style="background-color: #000 !important">
                  <p>Copyright ©2022 All rights reserved | developed by Unique Group IT</p>
                </div>
                </div><!-- END #wrapper -->

                <div id="freezer"></div><!-- END #freezer -->
            </div><!-- END #container -->

            <!-- 
            *********************************************
            *********************************************
                Start Left Menu || freeze contents
            *********************************************
            *********************************************
            -->
            <div id="nav">
                <div>
                    <!-- <a href="javascript:;" class="showBook"></a> -->
                    <!-- <a href="javascript:;" class="showMenu"></a> -->
                    <a href="#" class="showBook"></a>
                    <a href="#" class="showMenu"></a>
                </div>

                <div>

                    <ul id="custom-main-nav">
                        <li class="  nav-1494"><a href="index.html">Home</a><hr></li>
                        <li class="  nav-1494"><a href="about-us.html">About &amp; Us</a><hr></li>
                        <li class="  nav-1743"><a href="rooms-and-suites.html">
                        Rooms</a><hr></li>
                        <li class="  nav-1743"><a href="restaurants.html">
                        Dining</a><hr></li>
                        <li class="  nav-1745"><a href="meetings-and-events.html">
                        Facilities & Events</a><hr></li>
                      <!--   <li class="  nav-1744"><a href="meetings-and-events.html">
                        Events</a><hr></li> -->
                  <!--      
                        <li class="  nav-1746"><a href="recreations.html">
                        Offers</a><hr></li> -->
                        <li class="  nav-1746"><a href="photo-gallery.html">
                        Gallery</a><hr></li>
                        <li class="  nav-1747"><a href="special-offers.html">
                         Privilege Members</a><hr>
                        </li>
                        <li class="  nav-1747"><a href="contact.html">
                        Contact</a><hr></li>
                        <li class="  nav-1747"><a href="#">
                        Book Online</a><hr></li>
                    </ul>


                    <ul class="contacts" style="display: none;">
                        <li>
                            <a href="#" class="icon tel">Contact</a>
                        </li>
                        <li>
                            <!-- <a href='mailto:reservations@Hansa Hotelresort.com' class="icon email">E-Mail</a> -->
                            <a href='#' class="icon email">E-Mail</a>
                        </li>
                        <li>
                            <a href="#" class="icon map">Location</a>
                        </li>
                    </ul>
                    <ul>
                        <li style="border-bottom: none;">
                            <!-- <a href="javascript:;" class="selected"> -->
                            <a href="#" class="selected">
                                    Reservation
                                </a>
                            <div>
                                <fieldset class="flat booking booking-1">
                                    <p>

                                        You can make confirmed booking with online payment by your credit or debit card. <br><br>
                                        Enjoy 45% discount on room rack rate.
                                    </p>
                                    <p class="accept">We Accept
                                    <img src="images/cards.png" alt="Hansa Hotel Resort"></p>
                                    <div class="input-submit">
                                        <a href="https://live.ipms247.com/booking/book-rooms-Hansa Hoteltearesort" target="_blank" class="normal-link">Book Online</a>
                                    </div>
                                    <p class="small">For more information:<br> +88 01730 793501 - 4</p>
                                </fieldset>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                

            </div><!-- END #nav -->
        </div><!-- END #perspective -->

        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.unobtrusive.min.js"></script>

        <script type="text/javascript" src="js/datepicker-en-US.js"></script>

        <script type="text/javascript" src="js/jquery.flexslider-2.4.0.min.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="js/jquery.viewportchecker.min.js"></script>
        <script type="text/javascript" src="js/jquery.sticky-kit.min.js"></script>
        <script type="text/javascript" src="js/jquery.steps.min.js"></script>
        <script type="text/javascript" src="js/core.obf.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript">
            $('.item').click(function(){
              $(this).addClass('active');
            });
        </script>

        <!-- ========== revolution Slider ========== -->  
        <script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>           
        <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>  
        <script type="text/javascript">
            var tpj=jQuery;
            if (tpj.fn.cssOriginal!=undefined)
                tpj.fn.css = tpj.fn.cssOriginal;
                tpj('.fullwidthbanner').revolution(
                    {   
                        delay: 7000,                                             
                        startwidth:890,
                        startheight:450,                        
                        onHoverStop:"off", // Stop Banner Timet at Hover on Slide on/off
                        
                        thumbWidth:100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                        thumbHeight:50,
                        thumbAmount:4,
                        
                        hideThumbs:200,
                        navigationType:"none", //bullet, thumb, none, both  (No Shadow in Fullwidth Version !)
                        navigationArrows:"verticalcentered", //nexttobullets, verticalcentered, none
                        navigationStyle:"round", //round,square,navbar
                        
                        touchenabled:"on", // Enable Swipe Function : on/off                        
                        navOffsetHorizontal:0,
                        navOffsetVertical:20,                        
                        fullWidth:"off",                        
                        shadow:0 //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)        
                    });
        </script>

        <!-- Custom -->

        <script>
        $(document).ready(function(){
            $('#nav').addClass('close');
            $('#pre-footer .logo-holder').height($('.contact-holder').height());
        });
        </script>

        <!-- Owl Carousel Start -->
        <script type="text/javascript" src="js/owl-carousel-2/owl.carousel.js"></script>
        <!-- Owl Carousel End -->

        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>

        <!-- Loader on scroll -->
        <script type="text/javascript" src="js/jquery-scrollReveal.js"></script>


<script>
  $(document).ready(function(){
  $('#Mybtn').click(function(){
  $('#MyForm').toggle('slow');
  });
  });
</script>


        <!-- Others -->
        <script>
            $(window).on('load', function () {
                $('.slider-preload-cover').hide();
                $('.home-landing>div>h1').show();
            });

            $(document).ready(function(){
                $('.facilities-carousel, #awards-carousel').css('height', 'auto');
            });

        </script>

        <script>
        $('#header .quick_socials ul li').each(function(i){
            setTimeout(function(){$('#header .quick_socials ul li:eq('+i+')').removeClass('hidden_by_scaling');},2400+(100*i));
        });
        </script>

        <script type="text/javascript" src="js/script.js"></script>


        <script type="text/javascript">
        /* Subscribe */
        var i = 0;
        $(document).ready(function() {  
         $("#submit-mail").click(function (e) {

          $("#subscribe-email").val($("#subscribe-email").val().replace(/\s/g, ''));  //removes spaces from username
          var username = $("#subscribe-email").val();

          if(isValidEmailAddress(username)){
            $.post('subscribe.html', {'username':username}, function(data) {
              $("#user-result").html(data);
              $('.email-form-container').css({'pointer-events':'none', 'opacity':'0.5'});
            });
            $('#subscribe-email').val('');
          }
          else
          {
            if($('#subscribe-email').val() == '')
            {
              if(i == 0)
              {
                $("#user-result").html('Please enter email address');
              }
              
            }
            else
            {
              $('#subscribe-email').val('');
              $("#user-result").html('<span style="color: #af1f08; font-weight: bolder;">Invalid email address</span>');
              i = 1;
            }
            
          }

          function isValidEmailAddress(emailAddress) {
              var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
              return pattern.test(emailAddress);
          };

          }); 
        });
        /* Subscribe End */
        </script>

        <!-- Datepicker Start -->
        <script type="text/javascript" src="js/datepicker/jquery.datetimepicker.js"></script>
        <script type="text/javascript" src="js/datepicker/script.js"></script>

        <!-- Datepicker End -->
        <script type="text/javascript">
        $("#promotional-offer .close-img").click(function () {
            $("#promotional-offer").slideUp(500);
        });
        window.onload = $("#promotional-offer").slideDown(500);
        </script>

        <!-- Tripadvision start -->
        <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=731&amp;locationId=6385875&amp;lang=en_US&amp;rating=true&amp;nreviews=0&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=true&amp;border=false&amp;display_version=2"></script>
        <!-- Tripadvision End -->

        
        <!-- Google Code for Remarketing Tag -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 970140879;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/970140879/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>


        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-65953209-1', 'auto');
          ga('send', 'pageview');
        </script>

        <script>
            (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
                w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
                m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
            })(window,document,'script','../host.Hansa Hotelresort.com/marketing/mtc.js','mt');

            mt('send', 'pageview');
        </script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        // var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        // (function(){
        // var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        // s1.async=true;
        // s1.src='https://embed.tawk.to/5bd8a32c65224c2640516989/default';
        // s1.charset='UTF-8';
        // s1.setAttribute('crossorigin','*');
        // s0.parentNode.insertBefore(s1,s0);
        // })();
        </script>
        <!--End of Tawk.to Script-->

        <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
  <!--     <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v6.0'
          });
        };
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '../connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script> -->
      <!-- Your customer chat code -->
      <div class="fb-customerchat" attribution=setup_tool  page_id="494788450588722" theme_color="#30631f"></div>
        <!-- End Facebook SDK for JavaScript -->
        <link rel="stylesheet" href="/resources/demos/style.css">


  <link rel="stylesheet" href="http://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>

  $( function() {
    $("#check_in_date").datepicker();
    $("#check_out_date").datepicker();
  } );

  $( function() {
    $("#check_in_date_two").datepicker();
    $("#check_out_date_two").datepicker();
  } );


  </script>
    </body>



</html>