 <!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="shortcut icon" href="./images/icons/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="ahrefs-site-verification" content="f757c1b48a6d0f624cf76c2e304557685eed8bec4cc66d227f7726679f3f187c">
        <title>Offers and packages at Grand Sultan Tea Resort & Golf</title>
        <meta name="keywords" content="best resort in sylhet, special offers of grand sultan,discount offer of grand sultan,offer of grand sultan,offers of grand sultan,discount from grand sultan, grandsultan,grandsultanresort" />
        <meta name="description" content="Check out the latest offers and discounts at the Grand Sultan Tea Resort and Golf, Srimongal. Special offers for the best resort in Sylhet and Bangladesh." />

        <!-- Facebook Share -->
        <meta property="fb:app_id" content="1471560829582269" />
        <meta property="og:url" rel="canonical" content="http://www.grandsultanresort.com/special-offers" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Special offers from Grand Sultan Tea Resort & Golf" />
        <meta property="og:description" content="Grand Sultan is one of most prestigious resorts in Bangladesh. Only 4 hours drive from Dhaka city and surrounded by lavish greenery and tea gardens of Sreemongal, it is equipped with five star standard amenities and facilities to ensure luxury, comfort, and gracious hospitality." />
        <meta property="og:image" content="http://www.grandsultanresort.com/images/gs_front_fb.jpg" />
        <meta property="og:image:alt" content="" />

        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>

        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900,900i' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="./css/offers-details.css"/>
        <!-- <link rel="stylesheet" type="text/css" href="./css/gsv2-style.css"/> -->
        <link rel="stylesheet" type="text/css" href="./css/prettyPhoto.css">

        <link rel="stylesheet" type="text/css" href="./css/owl-carousel-2/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="./css/owl-carousel-2/owl.theme.default.min.css">

        <link rel="stylesheet" type="text/css" href="./css/rs-plugin-settings.css" media="screen" />
        <link rel="stylesheet" href="./css/datepicker/jquery.datetimepicker.css"/>
        <link rel="stylesheet" href="./css/style-responsive.css"/>

        <link rel="stylesheet" type="text/css" href="css/google-places.css">
        <link rel="stylesheet" type="text/css" href="css/notifbar.css">

        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.js"></script> -->
        <script type="text/javascript" src="./js/jquery.js"></script>

        <!-- Facebook Pixel Code -->
            <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '488297155276051'); 
            fbq('track', 'PageView');
            </script>
            <noscript>
            <img height="1" width="1" 
            src="https://www.facebook.com/tr?id=488297155276051&ev=PageView
            &noscript=1"/>
            </noscript>
        <!-- End Facebook Pixel Code -->        
    </head>

    <body>
        <div class="item i1">
          <div id="notification-bar">
            <div class="container">
              <!-- <img class="closeimg" src="images/close.png"/> -->
              <p><img class="blinkz" src="images/covidgs.png" alt="Special Precautionary Terms & Conditions during COVID- 19 Pandemic"/>&nbsp;&nbsp;&nbsp;&nbsp;Special Precautionary <a href="covid19-precautionary-tc" target="_blank">Terms & Conditions</a> during COVID- 19 Pandemic.</p>
            </div>
          </div>
        </div>
        <!-- <style type="text/css"> #cookie-bar {position: absolute; display: inline-block; z-index: 999999; bottom: 0; width: 100%;} .cookie-bar__inner { padding: 5px 10px 5px; box-sizing: border-box; width: 100%; background-color: #000000e3; text-align: center; color: #ddd; font-size: 15px; line-height: 25px;letter-spacing: 0.2px;} .cookie-bar__btn {background: #ffffff; color: #000000; border: 0; padding: 0px 15px; margin: 4px 15px; border-radius: 3px; font-size: 14px;} a.cookie-bar__link {color: #e8c037;} a:hover.cookie-bar__link {color: #fff; text-decoration: underline;} </style> -->
        <style type="text/css"> 
            #cookie-bar {position: absolute; display: inline-block; z-index: 99999999999; bottom: 0; width: 100%;} 
            .cookie-bar__inner { padding: 15px 50px 15px; box-sizing: border-box; width: 100%; background-color: #000000f0; text-align: left; color: #ddd; font-size: 16px; line-height: 23px; letter-spacing: 0.2px; }
            .cookie-bar__buttons { position: absolute; top: 21%; left: 45%; }
            .cookie-bar__btn { background: #ffffff; color: #000000; border: 0; padding: 5px 15px; margin: 4px 15px; border-radius: 3px; font-size: 14px; }
            a.cookie-bar__link {color: #e8c037;} 
            a:hover.cookie-bar__link {color: #fff; text-decoration: underline;} 
            @media  screen and (max-width: 1366px) {
                .cookie-bar__inner {font-size: 14px;padding: 18px 50px 18px;line-height: 21px;}
                .cookie-bar__buttons {top: 25%; left: 55%;}
            }
            @media  screen and (max-width: 1366px) and (orientation: portrait){
                .cookie-bar__inner {font-size: 12px;padding: 14px 15px 14px;line-height: 22px;}
                .cookie-bar__buttons {top: 25%; left: unset; right: 10%;}              
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                .cookie-bar__buttons {top: 25%; left: unset; right: 10%;}              
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                .cookie-bar__inner {font-size: 13px; padding: 18px 25px 18px; line-height: 20px;}
                .cookie-bar__buttons {top: 25%; left: unset; right: 1%;}              
            }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                .cookie-bar__inner {font-size: 12px; padding: 15px 15px 45px; line-height: 20px;}
                .cookie-bar__buttons {top: 68%;left: 0;right: unset;}
                .cookie-bar__btn {padding: 2px 13px;}
            }
        </style>
        <div id="perspective">
            <div id="container">
        
                <div id="top"  >
                    <ul>
                        <li>
                            <a id="showMenu">
                                <div id="menu_controller" class="has_transition_300">
                                <hr class="_1">
                                <hr class="_2">
                                <hr class="_3">
                            </div>
                                <i class="fa fa-bars" style="color: #fff"></i> Menu
                            </a>

                        </li>
                        <li>
                            <a id="showBook">Reservation</a>
                        </li>
                    </ul>
                    <a href="https://www.grandsultanresort.com/"></a>
                    <ul class="contact-ul">
                            <li class="location"><a style="text-transform: capitalize;" href="getting-there.php">Getting There</a></li>
                            <li><a href="tel:+8809678785959"> +88 096 78785959</a></li>
                        </ul>
                </div><!-- END #top -->

                <div id="wrapper">
                    <div id="menu_upper">
                        <ul class="contact-ul">
                            <li class="location"><a href="getting-there.php">Getting There</a></li>
                            <li><a href="tel:+8809678785959"> +88 096 78785959</a></li>
                        </ul>
                    </div>
                                        <div class="quick_socials mobile_hidden">
                        <ul>
                            <li class="has_transition_600"><a href="https://www.facebook.com/Grandsultanresort" target="_blank"><img src="images/icons/q1_facebook.png" alt="Facebook"></a></li>
                            <li class="has_transition_600"><a href="https://twitter.com/grandsultan" target="_blank"><img src="images/icons/q1_twitter.png" alt="Twitter"></a></li>
                            <!-- <li class="has_transition_600"><a href="#" target="_blank"><img src="images/icons/q1_googleplus.png" alt="Twitter"></a></li> -->
                            <li class="has_transition_600"><a href="https://www.instagram.com/grandsultanresort/" target="_blank"><img src="images/icons/q1_insta.png" alt="Instagram"></a></li>
                            <li class="has_transition_600"><a href="https://www.youtube.com/user/grandsultanresort" target="_blank"><img src="images/icons/q1_youtube.png" alt="YouTube"></a></li>
                            <li class="has_transition_600"><a href="https://www.tripadvisor.com/Hotel_Review-g668003-d6385875-Reviews-Grand_Sultan_Tea_Resort_Golf-Maulvi_Bazar_Sylhet_Division.html" target="_blank"><img src="images/icons/q1_tripadvisor.png" alt="Trip Advisor"></a></li>
                            <li class="has_transition_600"><a href="https://www.linkedin.com/company/grand-sultan-resort" target="_blank"><img src="images/icons/q1_linkedin.png" alt="LinkedIn"></a></li>
                        </ul>
                    </div>
                    <div class="home-landing scrollable">
   <div class="content-holder">
      <!-- ========== REVOLUTION SLIDER ========== -->
      <div class="fullwidthbanner">
         <ul>
            <!-- FADE -->
            <li data-transition="fade" data-slotamount="10" data-thumb="images/offers/1.jpg">
               <img src="images/offers/1.jpg" alt="special offers at grand sultan" />
            </li>
            <!-- FADE -->
            <li data-transition="fade" data-slotamount="10" data-thumb="images/offers/2.jpg">
               <img src="images/offers/2.jpg" alt="offers at grand sultan" />
            </li>
         </ul>
         <!-- <div class="tp-bannertimer"></div> -->
         <div class="slider-preload-cover">
            <h1>Special Offers</h1>
         </div>
         <div class="shadow"></div>
      </div>
   </div>
   <!-- <a class="logo" href="./">Grand Sultan Tea Resort &amp; Golf</a> -->
   <!-- <div>
      <h1 class="name"><br/><span></span></h1>
      </div> -->
   <!-- <a class="scroll" href="javascript:;">Discover <br/>GRAND SULTAN WORLD</a> -->
</div>
<!-- END .home-landing -->
<div class="background-radius"></div>
<a id="style-logo" href="./">Grand Sultan Tea Resort &amp; Golf</a>
<div class="offers-page">
   <div class="container offer-container">
      <div class="row">
         <!-- <div class="col-md-12" style="padding: 0px;">
            <div class="voteimg1">
                 <a href="https://luxuryhotelawards.com/hotel/grand-sultan-tea-resort-golf/"><img class="dot-square" src="images/icons/header.png" alt="special offers" style="width: 100%;height:auto;"></a>
            </div>
            </div> -->
         <div class="col-md-12">
            <div class="welcome-text-div">
               <h2>Special Offers</h2>
               <img class="dot-square" src="images/icons/line-small.png" alt="special offers">
            </div>
         </div>
      </div>
      <!-- end -->

      <!-- Eid-Ul-Fitre Package  start -->
      <!--Eid-Ul-Fitre Package end -->

   <!-- Eid-Ul-Fitre Offer start -->
      <!-- Eid-Ul-Fitre Offer end -->

   <!-- Eid-Ul-Adha Package  start -->
      <div class="row">
      <div class="col-md-6">
         <div class="dot-line-left offers-dot-line-left">
            <img src="images/offers/eid-ul-adha-package.jpg" alt="Eid-Ul-Adha Package 2022">
         </div>
      </div>
      <div class="col-md-6">
         <div class="package-text-container right offers-right">
            <h3>Eid-Ul-Adha Package</h3>
            <h4 class="offer-date">Valid for the Eid-Ul-Adha 2022</h4>
            <p> Starting from <b>BDT 18,000 NET</b> for 2 persons per night including buffet <b> Lunch, Dinner, Breakfast &amp; many more. </b><span style="color:#2b4726;"><b>KIDS STAY & MEAL FREE!</b></span></p>
            <a href="eid-ul-adha-package-2022" class="has_transition_400 left">Find More</a>
         </div>
      </div>
   </div>
      <!--Eid-Ul-Adha Package end -->

   <!-- Eid-Ul-Adha Offer start -->
      <div class="row">
      <div class="col-md-6 dot-line-right-small">
         <div class="dot-line-right offers-dot-line-right">
            <img src="images/offers/eid-ul-adha-offer.jpg" alt="Eid-Ul-Adha Offer 2022 ">
         </div>
      </div>
      <div class="col-md-6">
         <div class="package-text-container offer-text-container">
            <h3>Eid-Ul-Adha Offer</h3>
            <h4 class="offer-date">Valid for the Eid-Ul-Adha 2022</h4>
             <p>Starting from <b>BDT 13,219 NET</b> for 2 persons per night including buffet <b>Breakfast &amp; many more.</b></p>
            <a href="eid-ul-adha-offer-2022" class="has_transition_400 left">Find More</a>
         </div>
      </div>
      <div class="col-md-6 dot-line-right-big">
         <div class="dot-line-right">
            <img src="images/offers/eid-ul-adha-offer.jpg" alt="Eid-Ul-Adha Offer 2022">
         </div>
      </div>
   </div>
      <!-- Eid-Ul-Adha Offer end -->

      <!-- Summer Package start -->
      <div class="row">
      <div class="col-md-6">
         <div class="dot-line-left offers-dot-line-left">
            <img src="images/offers/summer-package-2022.jpg" alt="Summer Package">
         </div>
      </div>
      <div class="col-md-6">
         <div class="package-text-container right offers-right">
            <h3>Summer Package</h3>
            <h4 class="offer-date">Valid up to 8<sup>th</sup>July 2022</h4>
            <p> Starting from <b>BDT 7,500 Net</b> Per person per night including buffet <b>lunch, dinner, breakfast &amp; many more. </b><span style="color:#2b4726; font-weight:bold;"><strong> KIDS STAY & MEAL FREE!</strong></span></p>
            <a href="summer-package-2022" class="has_transition_400 left">Find More</a>
         </div>
      </div>
   </div>
      <!--Summer Package end -->
      <div class="row">
      <div class="col-md-6 dot-line-right-small">
         <div class="dot-line-right offers-dot-line-right">
            <img src="images/offers/summer_offer_new_2022.jpg" alt="Summer Offer">
         </div>
      </div>
      <div class="col-md-6">
         <div class="package-text-container offer-text-container">
            <h3>Summer Offer</h3>
            <h4 class="offer-date">Valid from 1<sup>st</sup> June 2022 to 8<sup>th</sup> July 2022</h4>
            <p>Starting from <b>BDT 12,018 Net</b> for 2 persons per night including buffet <b>breakfast &amp; many more.</b></p>
            <a href="summer-offer-2022" class="has_transition_400 left">Find More</a>
         </div>
      </div>
      <div class="col-md-6 dot-line-right-big">
         <div class="dot-line-right">
            <img src="images/offers/summer_offer_new_2022.jpg" alt="Summer Offer">
         </div>
      </div>
   </div>
      <!-- Summer Offer end -->

   <!-- Ramadan Package  start -->
      <!--Ramadan Package end -->
   <!-- Ramadan Offer start -->
      <!-- Ramadan Offer end -->

       <!-- Winter Package package start -->
                  <!--Winter Package end -->


         <!--  Winter Offer start -->
                  <!-- Winter Offer end -->

         <!-- Spring Package package start -->
                  <!--Spring Package end -->
                  <!-- Spring Offer end -->

      <!-- Autumn  package start -->
            <!--Autumn Package end -->


      <!-- Autumn Offer start -->
            <!-- Autumn Offer end -->

      <!-- Monsoon package start -->
            <!-- end -->

      <!--Monsoon Offer start -->
            <!-- end -->

      <!--Valentine package 2021 -->
            <!-- Grand weeknd Package 2021 end -->  

      <!-- Grand weeknd Offer 2021 start -->
                  <!-- Grand weeknd Offer 2021 end -->



      <!-- start -->
            <!-- end -->

      <!-- start -->
            <!-- end -->
      <!-- start -->
            <!-- end -->

            <!--Special Eid Ul Azha Package start -->
            <!-- Special Eid Ul Azha Package end -->


      


<!-- Temporary -->
<link href="https://fonts.googleapis.com/css?family=Charmonman&display=swap" rel="stylesheet">

      <!-- Grand Sultan-GP STARs  start -->
      <!--Grand Sultan-GP STARs  end -->


   <!-- Grand Sultan-GP STARs  start -->
      <!-- Grand Sultan-GP STARs  end -->


   

   <!-- Summer Package  start -->
      <!--summer Package  end -->

   <!-- summer Offer  start -->
      <!-- Summer Offer  end -->


  <!-- Spring Package  start -->
    
  

   
   <!-- Spring Offer  start -->
      <!-- Spring Offer  end -->      


     

      <!-- GS - Robi Dhonnobad Special Offer -->
      
         <!-- GS - Robi Dhonnobad Special Offer -->
                  <!-- GS - GP Star Special Offer 28-10-2019 end -->

         <!-- Grand Honeymoon Package -->
      
       <!-- <div class="row">
         <div class="col-md-6 dot-line-right-small">
            <div class="dot-line-right offers-dot-line-right">
              <img src="images/offers/sreimongal-package-new.jpg" alt="srimongal-package">
            </div>
         </div>
         <div class="col-md-6">
            <div class="package-text-container offer-text-container">
               <h3>Srimongal Package</h3>
               <p>Starting from BDT 999++ per person. Enjoy Srimongal- the tea capital of Bangladesh, is famous for its nature, forests and wildlife.</p>
               <a href="srimongal-package" class="has_transition_400 left">Find More</a>
            </div>
         </div>
         <div class="col-md-6 dot-line-right-big">
            <div class="dot-line-right">
               <img src="images/offers/sreimongal-package-new.jpg" alt="srimongal-package">
            </div>
         </div> 
      </div> -->
         <!-- GS -  Grand Srimongal Package  end -->


         <!-- start left thumb -->
       <div class="row">
         <div class="col-md-6">
             <div class="dot-line-left offers-dot-line-left">
                 <img src="images/offers/sreimongal-package-new.jpg" alt="Srimongal Package">
             </div>
         </div>
         <div class="col-md-6">
             <div class="package-text-container right offers-right">
                 <h3>Srimongal Package</h3>
                 <p>Starting from BDT 999++ per person. Enjoy  Srimongal- the tea capital of Bangladesh, is famous for its nature, forests and wildlife.</p>
                 <a href="srimongal-package" class="has_transition_400 left">Find More</a>
             </div>
         </div>
         </div>
         <!-- end left thumb -->
         <!-- end -->
   </div>
   <!-- Ends #offers-page -->
</div>
<!-- Ends #offers-page -->
<script type="text/javascript">
   $(document).ready(function() {
       $('#carousel-custom-dots').width($('#services-carousel').width());
   });
</script>
<script src="js/jquery.cookieBar.js"></script><script type="text/javascript"> $(function() { $.cookieBar(); }); </script>
                        <div id="follow-us-container" class="color">
                            <h6>Follow Us</h6>
                            <ul>
                                <li><a href="https://www.facebook.com/Grandsultanresort" target="_blank"><img src="images/icons/f_ico.png" class="has_transition_400" alt="Grand Sultan Resort Facebook"></a></li>
                                <li><a href="https://twitter.com/grandsultan" target="_blank"><img src="images/icons/tw_ico.png" class="has_transition_400" alt="Grand Sultan Resort Twitter"></a></li>
                                <li><a href="https://www.instagram.com/grandsultanresort/" target="_blank"><img src="images/icons/ist_ico.png" class="has_transition_400" alt="Grand Sultan Resort Instagram"></a></li>
                                <li><a href="https://www.youtube.com/user/grandsultanresort" target="_blank"><img src="images/icons/yt_ico.png" class="has_transition_400" alt="Grand Sultan Resort YouTube"></a></li>
                                <li><a href="https://www.tripadvisor.com/Hotel_Review-g668003-d6385875-Reviews-Grand_Sultan_Tea_Resort_Golf-Maulvi_Bazar_Sylhet_Division.html" target="_blank"><img src="images/icons/trip-1.png" class="has_transition_400" alt="Grand Sultan Resort Tripadvisor"></a></li>
                                <li><a href="https://www.linkedin.com/company/grand-sultan-resort" target="_blank"><img src="images/icons/linkedin-1.png" class="has_transition_400" alt="Grand Sultan Resort linkedin"></a></li>
                            </ul>
                        </div>

                        <div id="pre-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 logo-holder">
                                        <img src="images/icons/footer-logo.png" alt="Grand Sultan Resort">

                                    </div>
                                    <div class="col-md-9 contact-holder">
                                        <div class="row">
                                            <div class="col-md-12 pre-nav-content">
                                                <ul id="pre-nav">
                                                    <li><a href="rooms-and-suites">Rooms & Suites</a></li>
                                                    <li><a href="restaurants">Restaurants</a></li>
                                                    <li><a href="meetings-and-events">Meetings & Events</a></li>
                                                    <li><a href="relaxation">Relaxation</a></li>
                                                    <li><a href="recreations">Recreations</a></li>
                                                    <li><a href="special-offers">Offers</a></li>
                                                    <li><a href="contact">Contact</a></li>
                                                    <li><a href="guest-policy">Guest Policy</a></li>
                                                    <!-- <li><a href="covid19-precautionary-tc">COVID19 Policy</a></li> -->
                                                    <li><a href="guest-reviews">Guest Reviews</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div id="contact-content">
                                                    <h3>Reach Us</h3>
                                                    <ul class="contact-ul">
                                                        <li id="li-1">Grand Sultan Tea Resort &amp; Golf<br>Srimongal, Moulvibazar - 3210, Bangladesh</li><li id="li-2">
                                                        +88 096 78782929 (Corporate office)<br>  +88 08 62673001 - 2 (Resort office)<!--+88 02 9820727, 9852585--> </li><li id="li-3">
                                                        For Reservation: <br><strong>+8809678785959</strong> / +8801730793501-4<br> 
                                                        For Corporate or Group Event: <br>
                                                        <strong>+88 01730 793555</strong></li><!--<li id="li-4">
                                                        +1 7182456765 (US)<br> +44 7024060680 (UK)<br> +81 9098182749 (Japan) </li>-->
                                                    </ul>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-12 copyright-content">
                                                        <p class="copyright big">&copy; 2022. Grand Sultan Tea Resort &amp; Golf. All rights reserved. Site by <a href="http://www.digitainteractive.com/" target="_blank">DIGITA iNTERACTIVE</a></p>
                                                        <p class="copyright small">&copy; 2022. Grand Sultan Tea Resort &amp; Golf. All rights reserved. <br>Site by <a href="http://www.digitainteractive.com/" target="_blank">DIGITA iNTERACTIVE</a></p> 
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="col-md-3 weather-content">

                                                <!-- Subscribe -->
                                                <style type="text/css" scoped>
                                                /*Custom*/
                                                .newsletter-container .mauticform-page-wrapper{position: relative; width: 96%;}
                                                .newsletter-container .mauticform-button-wrapper .mauticform-button.btn-default{position: absolute; width: 35px; height: 100%; right: 0; top: 0; color: transparent; overflow: hidden; background-color: #cccbcb; border-top: 1px solid #fff; border-bottom: 1px solid #fff; border-right: 1px solid #fff; background-image: url(images/icons/arrow-right.png); background-repeat: no-repeat; background-position: center;}
                                                .newsletter-container .mauticform-errormsg{position: absolute;}
                                                .sitesealstkr {padding-top: 5%; padding-left: 28%;}
                                                @media only screen and (max-width: 479px) {
                                                    #pre-footer .copyright.small {margin-bottom: 15px;}
                                                    .sitesealstkr.small {margin-bottom: 7px;padding-top: 0;padding-left: 2%;}
                                                }
                                                /* END Custom */
                                                </style>

                                                <ul class="weather-ul">
                                                    <a href="#"><img src="images/icons/android.jpg" alt="Grand Sultan Resort Android App"></a>     
                                                </ul>
                                                <ul class="weather-ul">
                                                    <a href="#" target="_blank"><img src="images/icons/ios.jpg" alt="Grand Sultan Resort iOS App"></a>
                                                </ul>                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 copyright-content">
                                                <p class="copyright big">&copy; 2022. Grand Sultan Tea Resort &amp; Golf. All rights reserved. Site by <a href="http://www.digitainteractive.com/" target="_blank">DIGITA iNTERACTIVE</a></p>
                                                <p class="copyright small">&copy; 2022. Grand Sultan Tea Resort &amp; Golf. All rights reserved. <br>Site by <a href="http://www.digitainteractive.com/" target="_blank">DIGITA iNTERACTIVE</a></p>
                                            </div>
                                            <div class="col-md-4">
                                            	<div class="sitesealstkr small"><span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=y0B566BJtmrsrXRihDeLjm0R6hON6WKIc17v2rU1TamgjZ5NyFRTgowvzu8y"></script></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END #pre-footer -->

                </div><!-- END #wrapper -->

                <div id="freezer"></div><!-- END #freezer -->
            </div><!-- END #container -->

            <!-- 
            *********************************************
            *********************************************
                Start Left Menu || freeze contents
            *********************************************
            *********************************************
            -->
            <div id="nav">
                <div>
                    <!-- <a href="javascript:;" class="showBook"></a> -->
                    <!-- <a href="javascript:;" class="showMenu"></a> -->
                    <a href="" class="showBook"></a>
                    <a href="" class="showMenu"></a>
                </div>

                <div>
                    <ul id="custom-main-nav">
                        <li class="  nav-1494"><a href="./">Home</a><hr></li>
                        <li class="  nav-1494"><a href="rooms-and-suites">Rooms &amp; Suites</a><hr></li><li class="  nav-1743"><a href="restaurants">
                        Restaurants &amp; Cafe</a><hr></li>
                        <li class="  nav-1745"><a href="meetings-and-events">
                        Meetings &amp; Events</a><hr></li>
                        <li class="  nav-1744"><a href="relaxation">
                        Relaxation</a><hr></li>
                        <li class="  nav-1746"><a href="recreations">
                        Recreations</a><hr></li>
                        <li class="  nav-1747"><a href="special-offers">
                        Special Offers</a><hr></li>
                        <li class="  nav-1749"><a href="contact">
                        Contact Us</a><hr></li>
                        <li class="  nav-1749"><a href="photo-gallery">
                        Photo Gallery</a><hr></li>
                        <li class="  nav-1749"><a href="virtual-tours">
                        Virtual Tours</a></li>
                    </ul>

                    <img src="images/icons/2018-hotel-awards-luxury.png" class="custom-img" alt="luxury-awards2018">

                    <ul class="guest-policy-ul">
                        <li class=" ">
                            <a href="guest-policy">Guest Policy</a>
                        </li>
                        <li class=" ">
                            <a href="https://goo.gl/q7VBM2" target="_blank">GRAND SULTAN SURVEY</a>
                        </li>
                    </ul>

                    <ul class="contacts" style="display: none;">
                        <li>
                            <a href="#" class="icon tel">Contact</a>
                        </li>
                        <li>
                            <!-- <a href='mailto:reservations@grandsultanresort.com' class="icon email">E-Mail</a> -->
                            <a href='' class="icon email">E-Mail</a>
                        </li>
                        <li>
                            <a href="#" class="icon map">Location</a>
                        </li>
                    </ul>
                    <ul>
                        <li style="border-bottom: none;">
                            <!-- <a href="javascript:;" class="selected"> -->
                            <a href="" class="selected">
                                    Reservation
                                </a>
                            <div>
                                <fieldset class="flat booking booking-1">
                                    <p>
                                        You can make confirmed booking with online payment by your credit or debit card. <br><br>
                                        Enjoy 45% discount on room rack rate.
                                    </p>
                                    <p class="accept">We Accept
                                    <img src="images/cards.png" alt="Grand Sultan Resort"></p>
                                    <div class="input-submit">
                                        <a href="https://live.ipms247.com/booking/book-rooms-grandsultantearesort" target="_blank" class="normal-link">Book Online</a>
                                    </div>
                                    <p class="small">For more information:<br> +88 01730 793501 - 4</p>
                                </fieldset>
                            </div>
                        </li>
                        
                    </ul>
                </div>

            </div><!-- END #nav -->
        </div><!-- END #perspective -->

        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.unobtrusive.min.js"></script>

        <script type="text/javascript" src="js/datepicker-en-US.js"></script>

        <script type="text/javascript" src="js/jquery.flexslider-2.4.0.min.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="js/jquery.viewportchecker.min.js"></script>
        <script type="text/javascript" src="js/jquery.sticky-kit.min.js"></script>
        <script type="text/javascript" src="js/jquery.steps.min.js"></script>
        <script type="text/javascript" src="js/core.obf.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript">
            $('.item').click(function(){
              $(this).addClass('active');
            });
        </script>

        <!-- ========== revolution Slider ========== -->  
        <script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>           
        <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>  
        <script type="text/javascript">
            var tpj=jQuery;
            if (tpj.fn.cssOriginal!=undefined)
                tpj.fn.css = tpj.fn.cssOriginal;
                tpj('.fullwidthbanner').revolution(
                    {   
                        delay: 7000,                                             
                        startwidth:890,
                        startheight:450,                        
                        onHoverStop:"off", // Stop Banner Timet at Hover on Slide on/off
                        
                        thumbWidth:100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                        thumbHeight:50,
                        thumbAmount:4,
                        
                        hideThumbs:200,
                        navigationType:"none", //bullet, thumb, none, both  (No Shadow in Fullwidth Version !)
                        navigationArrows:"verticalcentered", //nexttobullets, verticalcentered, none
                        navigationStyle:"round", //round,square,navbar
                        
                        touchenabled:"on", // Enable Swipe Function : on/off                        
                        navOffsetHorizontal:0,
                        navOffsetVertical:20,                        
                        fullWidth:"off",                        
                        shadow:0 //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)        
                    });
        </script>

        <!-- Custom -->

        <script>
        $(document).ready(function(){
            $('#nav').addClass('close');
            $('#pre-footer .logo-holder').height($('.contact-holder').height());
        });
        </script>

        <!-- Owl Carousel Start -->
        <script type="text/javascript" src="js/owl-carousel-2/owl.carousel.js"></script>
        <!-- Owl Carousel End -->

        <script type="text/javascript" src="./js/jquery.prettyPhoto.js"></script>

        <!-- Loader on scroll -->
        <script type="text/javascript" src="js/jquery-scrollReveal.js"></script>


        
        <!-- Others -->
        <script>
            $(window).on('load', function () {
                $('.slider-preload-cover').hide();
                $('.home-landing>div>h1').show();
            });

            $(document).ready(function(){
                $('.facilities-carousel, #awards-carousel').css('height', 'auto');
            });

        </script>

        <script>
        $('#header .quick_socials ul li').each(function(i){
            setTimeout(function(){$('#header .quick_socials ul li:eq('+i+')').removeClass('hidden_by_scaling');},2400+(100*i));
        });
        </script>

        <script type="text/javascript" src="./js/script.js"></script>


        <script type="text/javascript">
        /* Subscribe */
        var i = 0;
        $(document).ready(function() {  
         $("#submit-mail").click(function (e) {

          $("#subscribe-email").val($("#subscribe-email").val().replace(/\s/g, ''));  //removes spaces from username
          var username = $("#subscribe-email").val();

          if(isValidEmailAddress(username)){
            $.post('subscribe.php', {'username':username}, function(data) {
              $("#user-result").html(data);
              $('.email-form-container').css({'pointer-events':'none', 'opacity':'0.5'});
            });
            $('#subscribe-email').val('');
          }
          else
          {
            if($('#subscribe-email').val() == '')
            {
              if(i == 0)
              {
                $("#user-result").html('Please enter email address');
              }
              
            }
            else
            {
              $('#subscribe-email').val('');
              $("#user-result").html('<span style="color: #af1f08; font-weight: bolder;">Invalid email address</span>');
              i = 1;
            }
            
          }

          function isValidEmailAddress(emailAddress) {
              var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
              return pattern.test(emailAddress);
          };

          }); 
        });
        /* Subscribe End */
        </script>

        <!-- Datepicker Start -->
        <script type="text/javascript" src="js/datepicker/jquery.datetimepicker.js"></script>
        <script type="text/javascript" src="js/datepicker/script.js"></script>

        <!-- Datepicker End -->
        <script type="text/javascript">
        $("#promotional-offer .close-img").click(function () {
            $("#promotional-offer").slideUp(500);
        });
        window.onload = $("#promotional-offer").slideDown(500);
        </script>

        <!-- Tripadvision start -->
        <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=731&amp;locationId=6385875&amp;lang=en_US&amp;rating=true&amp;nreviews=0&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=true&amp;border=false&amp;display_version=2"></script>
        <!-- Tripadvision End -->

        
        <!-- Google Code for Remarketing Tag -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 970140879;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/970140879/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>


        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-65953209-1', 'auto');
          ga('send', 'pageview');
        </script>

        <script>
            (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
                w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
                m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://host.grandsultanresort.com/marketing/mtc.js','mt');

            mt('send', 'pageview');
        </script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        // var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        // (function(){
        // var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        // s1.async=true;
        // s1.src='https://embed.tawk.to/5bd8a32c65224c2640516989/default';
        // s1.charset='UTF-8';
        // s1.setAttribute('crossorigin','*');
        // s0.parentNode.insertBefore(s1,s0);
        // })();
        </script>
        <!--End of Tawk.to Script-->

        <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v6.0'
          });
        };
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <!-- Your customer chat code -->
      <div class="fb-customerchat" attribution=setup_tool  page_id="494788450588722" theme_color="#30631f"></div>
        <!-- End Facebook SDK for JavaScript -->

    </body>
</html>